﻿@using OnBoardingPartyRentMVC.ViewModels;
@model RegisterViewModel

@{
    ViewData["Title"] = "Login Page";
}

<h1>Register</h1>

@if(TempData["Error"] != null)
{
    <div class="col-md-12 alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"]</span>
    </div>
}

<form asp-action="Register">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="mb-3">
    <label asp-for="EmailAddress" class="control-label"></label>
    <input asp-for="EmailAddress" class="form-control">
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Password" class="control-label"></label>
    <input asp-for="Password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
    <div class="mb-3">
    <label asp-for="ConfirmPassword" class="control-label"></label>
    <input asp-for="ConfirmPassword" class="form-control">
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <input class="btn btn-outline-success float right" type="submit" value="Sign Up" />
  <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
</form>
